.d-block {
    width: 40%;
}

.jumbotron {
    background-image: url("https://cdn.izbooking.com/images/2018/11/ninh-binh-tours-1542426082.jpg");
    background-size: cover;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.loginbutton  {
    color: white;
    background-color: #33b5e5;
}
.btn{
    color: white;
    background-color: #33b5e5;
}
.btn-default {
    background-color: #33b5e5 !important;
    color: #fff;
}
.icon{
    color: #33b5e5 !important; 
}
.webName {
    font-size: 80px;
    text-shadow: -2px -2px 0 #33b5e5, 2px -2px 0 #33b5e5, 2px 2px 0 #33b5e5;
}