.d-block {
    width: 40%;
}

.jumbotron {
    background-image: url("https://cdn.izbooking.com/images/2018/11/ninh-binh-tours-1542426082.jpg");
    background-size: cover;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.loginbutton {
    color: white;
}

.webName {
    font-size: 80px;
}