.pfpImage {
  height: 150px;
  border-radius: 50%;
  width: 150px;
  align-content: center;
}
.NavBarEdit {
  background-color: #33b5e5!important;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar-light .nav-link .navbar-brand {
  color: white;
}
.navbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: white;
}
.brand {
  color: white;
}
span:hover {
  color: black;
}